name: {{ cookiecutter.repo_name }}
channels:
  - conda-forge
dependencies:
  - python==3.14.0
  - poetry==2.2.1
  - pip==25.3
  {%- if cookiecutter.is_django == "True" %}
  - postgresql==18.0
  {%- endif %}
variables:
  {%- if cookiecutter.is_django == "True" %}
  DATABASE_URL: "postgres://postgres@localhost:5432/{{ cookiecutter.module_name }}_local"
  {%- endif %}
  EXEC_WRAPPER: ""
